@charset "UTF-8";

@font-face {
    font-family: Polya;
    font-weight: 100;
    src: url("/fontes/POLYA.otf");
}

@font-face {
    font-family: Prime-regular;
    font-style: normal;
    font-weight: normal;
    src: url("/fontes/prime-regular.otf");
}

@font-face {
    font-family: Quicksand-book;
    font-style: normal;
    font-weight: normal;
    src: url("/fontes/Quicksand_Book.otf");
}

@font-face {
    font-family: Quicksand-light;
    font-style: normal;
    font-weight: normal;
    src: url("/fontes/Quicksand_Light.otf");
}

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.imagem-header{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagem-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom-background 10s;
}

@keyframes zoom-background{
    0%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}

.Banner{
    position: absolute;
    width: 50%;
    min-height: 150px;
    min-width: 200px;
    height: auto;
    top: 25%;
    left: 17%;
    background-image: url("img/nome.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    animation: move-banner 1.5s forwards;
}

.Banner h1{
    position: absolute;
    font-family: Quicksand-light;
    font-weight: 100;
    font-size: 1.7em;
    color: white;
    top: 100%;
    text-align: center;
    text-shadow: .2rem .1rem 2px rgba(0,0,0,150);
    opacity: 0;
    animation: move-banner 1.5s 0.6s forwards;
}

@keyframes move-banner{
    0%{
        transform: translateY(12rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }

}

/* .funcoes{
    display: flex;
} */

.funcoes-header{
    font-family: Quicksand-book;
}

.funcoes-header h1{
    font-size: 3em;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 20rem;
    height: 30rem;
    margin: .5em;
    border-radius: .6rem;
    box-shadow: 0 0 10px rgba(0,0,0,100);
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-top-left-radius: .6rem;
    border-top-right-radius: .6rem;
}

.card h2{
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: .5rem;
}

.card p{
    font-family: "Segoe UI";
    text-align: center;
    padding: .5rem;
    /* text-shadow: .0 .1em 3px rgba(0,0,0,100); */
}

.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(27,29,35);
    color: white;
    margin-top: 1.2em;
}

.footer p{
    font-family: "Segoe UI";
    font-size: .8em;
    text-align: center;
    padding-top: 15px;
}